<h2>Vielen Dank, dass du dich für die WebSuite entschieden hast!</h2>
<p>Der nachfolgende Installations-Assistent hilft dir bei der Installation und ersten Einrichtung des WebSuite-Core.</p>
<hr/>
<p>Um mit der Installation fortzuführen, akzeptiere bitte die folgenden Lizenzvereinbarungen:</p>
<text>
    Lizenzvereinbarungen kommen hier rein
</text>
<input type="checkbox" id="accept"> <label for="accept">Ich akzeptiere die oben stehenden Lizenzvereinbarungen</label>
<br/>
<a onclick="submit()" class="primary right">Nächster Schritt</a>

<script>
    function submit() {
        $.ajax({
            type: "POST",
            url: '/welcome',
            data: {
                accept: $("#accept").is(":checked")
            },
            success: function() {
                window.location.href = "/download-core";
            }
        });
    }
</script>